<div class="banner_container">
    <div class="card_header">
        <img src="../../../assets/img/TwitterBanner.jpg" alt="banner" class="banner_img">
        <img src="../../../assets/img/profile_pic_medium.jpg" alt="avatar picture" class="avatar_img">
    </div>
    <div class="card_information">
        <h1>Jose Piedra</h1>
        <h2>Front end Developer</h2>
        <p>A passionate Front-end developer from Venezuela, who likes to make fun stuff</p>
    </div>
    <div class="social_links">
        <app-social-card></app-social-card>
    </div>
</div>

