.banner_container {

    
    .card_header {
        
        display: flex;
        flex-direction: column;
        justify-content: center;


        .banner_img {
            border-radius: 50px 50px 0px 0px;
            z-index: 0;
            width: 100%;
        }

        .avatar_img {
            margin-top: -20%;
            align-self: center;
            width: 25%;
            height: 75%;
            border-radius: 100vh;
            z-index: 1;
        }  
      
    }

    // .card_information {
    //     position: relative;
    //     display: flex;
    //     justify-content: center;
    //     font-size: large;
    // }
}


    